{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    {% include "components/_header.html.twig" %}
    <div class="row mt-2 d-flex justify-content-center">
        <div class="col-md-3 col-12 text-center text-primary border bg-light rounded-pill">
            <h3 class="text-center mt-3">
                My bookmarks
            </h3>
            <p>
                On going : {{ onGoingBookmarks|length }}
            </p>
            <p>
                Ended : {{ endedBookmarks|length }}
            </p>
            <p>
                Total : {{ bookmarks|length }}
            </p>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        {% for type in types|slice(0,3) %}
            <div class="col-md-3 col-12 text-center text-primary mt-5 d-flex justify-content-center">
                {% include "components/_index_card.html.twig" %}
            </div>
        {% endfor %}
    </div>
    <div class="row d-flex justify-content-center">
        {% for type in types|slice(3,3) %}
            <div class="col-md-3 col-12 text-center text-primary mt-5 d-flex justify-content-center">
                {% include "components/_index_card.html.twig" %}
            </div>
        {% endfor %}
    </div>
    <hr>
    <div class="text-center mt-3 d-flex justify-content-center">
        <div class="col-5">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="text-right">
                <button class="btn btn-primary border my-3">{{ button_label|default('Rechercher') }}</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

    <div id="searchResult" class="text-center row row-cols-1 row-cols-md-3 g-4 m-4">
        {% if searchResult == null %}
            <p class="col">
                {{ message }}
            </p>
        {% else %}
            {% for bookmark in searchResult %}
                <div class="col">
                    {% include "components/_onGoingBookmarks_card.html.twig" %}   
                </div>                 
            {% endfor %}
        {% endif %}
        
    </div>

{% endblock %}
