<div class="card rounded-pill" style="width: 18rem;">
	<div class="card-body">
		<h5 class="card-title">{{ bookmark.name }}</h5>
		<h6 class="card-subtitle mb-2 text-muted">{{ bookmark.type.name }}</h6>
		<p class="card-text">{{ bookmark.comment }}</p>
		<p class="card-text">Started at :
			{{ bookmark.startedAt|date('d/m/Y') }}</p>
		<p class="card-text">Update at :
			{{ bookmark.updateAt }}
		</p>
	</div>
</div>
